extends layout

block content
  form(method="get",action="/iban")
    p
      | Press here to check another IBAN:

    input(type='submit', value='',name='')

    p(id='output') Your IBAN is #{result}
