extends layout

block content
  form(method="post",action="/iban/submit")
    p
      | Please enter your IBAN here:
      input(type='text', name='number')

    input(type='submit', value='',name='number')

    p Your IBAN is #{result}
